body {
	background: #FFB6C1;
	margin: auto;
	max-width:1000px;
}

.top {
	background: #FF69B4;
	border: 3px solid #C71585;
	margin: 20px 0px;
	text-align: center;
}

.menu {
	background: #FF69B4;
	text-align: center;
	border: 3px solid #C71585;
}

.photo {
	margin: 20px 0px;
	
}

.gift {
	background: #FF69B4;
	text-align: center;
	border: 3px solid #C71585;
	font-size: 30px;
	margin: 20px 0px;
	
}